---
import { getCollection, render } from "astro:content";
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Prose from "../../components/Prose.astro";
import TableOfContents from "../../components/TableOfContents/TableOfContents.astro";

export const getStaticPaths = (async () => {
  const article = await getCollection("articles");

  return article.map((article) => ({
    params: { slug: article.data.slug },
    props: { article },
  }));
}) satisfies GetStaticPaths;

const { article } = Astro.props;
const { Content, headings } = await render(article);
---

<style>
  @media (width > 850px) {
    :global(.hideBig) {
      display: none;
    }
  }

  @media (width <= 850px) {
    :global(.hideSmall) {
      display: none;
    }
  }

  @media (width <= 850px) {
    :global(.hideSmall) {
      display: none;
    }
  }

  @media (width <= 850px) {
    main.wrapper {
      padding: 0;
    }

    div.centering-div {
        justify-content: flex-start;
    }
  }

  .wrapper {
    position: relative;

    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 30px;

    padding-block: 10px;
    padding-inline: 50px 0;

    background-color: var(--bg-all);
  }

  .centering-div {
    flex: 1;
    display: flex;
    justify-content: center;

    max-width: 100%;
  }

  .reading-pane {
    position: relative;

    max-width: 900px;
    min-width: 350px;
    flex: 1 1;

    background-color: var(--bg-text);
    box-shadow: 0 0 20px var(--shadow);

    padding: 20px;
  }

  .title {
    align-self: stretch;
    text-align: center;
    background: var(--bg-popoup);
    padding: 10px;
    box-shadow: 1px 1px 3px black;
    color: var(--fg-inverted);
  }
</style>

<BaseLayout title={article.data.title}>
  <main class="wrapper">
    <TableOfContents className="hideSmall" headings={headings} />
    <div class="centering-div">
      <div class="reading-pane">
        <hgroup class="title">
          <h1>{article.data.title}</h1>
        </hgroup>
        <TableOfContents className="hideBig" headings={headings} />
        <Prose>
          <Content />
        </Prose>
      </div>
    </div>

  </main>
</BaseLayout>
