@import "reset.css";

blockquote p {
    margin-block: 0;
}

blockquote p::before {
    content: '';
}

blockquote p::after {
    content: '';
}

body {
    min-height: 100vh;
}

:root {
    --bg-all: #7A692FFF;
    --bg-text: #F6DF7AFF;
    --bg-highlight: #FFFFFF;
    --border-highlight: #9d2828;

    --shadow: #000000;

    font-family: Verdana, sans-serif;
}

