---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const articles = await getCollection("articles");
---

<BaseLayout title="Homepage">
  <h1>Astro</h1>
  <h2>Articles</h2>
  <ul>
    {
      articles.map((articles) => (
        <li>
          <a href={`/article/${articles.data.slug}`}>
            {articles.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
